.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rows {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.rows input {
  width: 20rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #888;
}

.button {
  background-color: mediumblue;
  color: #fff;
  height: 35px;
  padding: 10px 20px;
  border-radius: 6px;
  border: transparent;
  cursor: pointer;
  font-size: 14px;
}

.submit-button {
  background-color: mediumblue;
  color: #fff;
  height: 35px;
  padding: 10px 20px;
  border-radius: 6px;
  border: transparent;
  cursor: pointer;
  font-size: 14px;
}